<header id="topHeading">
    <button id="backButton">Back</button>
    <p></p>
</header>
<header id="bottomHeading">
    <div></div>
    <div id="headingMiddle1" class="headingMiddleDiv">
        <p class="headingMiddle">Practice</p>
    </div>
    <div id="headingMiddle2" class="headingMiddleDiv">
        <p class="headingMiddle">Test</p>
    </div>
    <div id="headingMiddle3" class="headingMiddleDiv">
        <p class="headingMiddle">Formulas</p>
    </div>
    <div id="headingMiddle4" class="headingMiddleDiv">
        <p class="headingMiddle">Tips</p>
    </div>
    <div id="headingMiddle5" class="headingMiddleDiv">
        <p class="headingMiddle">Review</p>
    </div>
</header>

<section id="allChapters">
    <header id="allChaptersHeader">All Chapters</header>
    <div id="chapter1Div">
        <div class="chapterHeadingDiv">
            <header class="chapterHeading">Exponents and Radicals</header>
        </div>
        <div id="chapter1Material" class="chapterMaterials">
            <div id="1sec1" class="rowSetup">
                <div class="courseMastery">
                    <div class="mastery5"></div>
                    <div class="mastery4"></div>
                    <div class="mastery3"></div>
                    <div class="mastery2"></div>
                    <div class="mastery1"></div>
                </div>
                <p class="sectionText">Solving Linear Equations by Substitution</p>
                <div class="quizButtonDiv">
                    <div class="quizButtonHelpDiv">
                        <button class="quizButton">Quiz</button>
                    </div>
                </div>
            </div>
            <div id="1sec2" class="rowSetup">
                <div class="courseMastery">
                    <div class="mastery5"></div>
                    <div class="mastery4"></div>
                    <div class="mastery3"></div>
                    <div class="mastery2"></div>
                    <div class="mastery1"></div>
                </div>
                <p class="sectionText">Evaluating expressions with exponents</p>
                <div class="quizButtonDiv">
                    <div class="quizButtonHelpDiv">
                        <button class="quizButton">Quiz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="chapter2">

    </div>
</section>