<header id="topHeading">
    <button id="backButton">Back</button>
    <p>Sat practice</p>
</header>
<header id="bottomHeading">
    <div></div>
    <div id="headingMiddle1" class="headingMiddleDiv">
        <p class="headingMiddle">Practice</p>
    </div>
    <div id="headingMiddle2" class="headingMiddleDiv">
        <p class="headingMiddle">Test</p>
    </div>
    <div id="headingMiddle3" class="headingMiddleDiv">
        <p class="headingMiddle">Formulas</p>
    </div>
    <div id="headingMiddle4" class="headingMiddleDiv">
        <p class="headingMiddle">Tips</p>
    </div>
    <div id="headingMiddle5" class="headingMiddleDiv">
        <p class="headingMiddle">Review</p>
    </div>
</header>

<section class="allChapter">
    <div id="chapter1Div">
        <header>Exponents and Radicals</header>
        <div id="chapter1Material">
            <div id="1sec1">
                <div class="courseMastery">
                    
                </div>
                <p>Evaluating expressions with exponents</p>
            </div>
        </div>
        <div id="1sec2">
            <div class="courseMastery">
                
            </div>
            <p>Evaluating expressions with exponents</p>
        </div>
    </div>
    <div id="chapter2">

    </div>
</section>