<header id="topHeading">
    <button id="backButton">Back</button>
    <p>Sat practice</p>
</header>
<header id="bottomHeading">
    <div></div>
    <div id="headingMiddle1" class="headingMiddleDiv">
        <p class="headingMiddle">Practice</p>
    </div>
    <div id="headingMiddle2" class="headingMiddleDiv">
        <p class="headingMiddle">Test</p>
    </div>
    <div id="headingMiddle3" class="headingMiddleDiv">
        <p class="headingMiddle">Formulas</p>
    </div>
    <div id="headingMiddle4" class="headingMiddleDiv">
        <p class="headingMiddle">Tips</p>
    </div>
    <div id="headingMiddle5" class="headingMiddleDiv">
        <p class="headingMiddle">Review</p>
    </div>
    
</header>
<section class="Levels">

</section>