<section class="Levels">
    <header id="headings">
        <button id="backButton">Back</button>
        <p>Difficulty</p>
    </header>
    <div id="levelButtons">
        <div id="level1button" class="buttonStyle">
            <button id="level1"class="level1">solving expressions with given variable</button>
            <div class="arrowButton">
                <button class="arrow down"></button>
            </div>
        </div>
        <div id="level1button" class="buttonStyle">
            <button id="level2" class="level1">level 2</button>
        </div>
        <div id="level1button" class="buttonStyle">
            <button id="level3" class="level1">level 3</button>
        </div>
        <div id="level1button" class="buttonStyle">
            <button id="level4" class="level1">level 4</button>
        </div>
        <div id="level1button" class="buttonStyle">
            <button id="level5" class="level1">level 5</button>
        </div>
    </div>
</section>