<!Doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up!</title>
<!--style for this html file-->
  <%-include('./satPage/style.ejs')%>

</head>

<body>
  <%-include('./satPage/body.ejs')%>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <%-include('./satPage/script.ejs')%>

</body>

</html>