<section class="questions">
    <a href="/sat/variables/practiceQuiz/start">Start-Practice-Quiz</a>
    <!--
        Should cover every practice quiz on variables
        Examples: Zero product property, substitution, isolation
        
        Should have a unit test on variables
        User should have the option to choose the difficulty
        from the difficulty chosen the unit test should give harder questions with less time
        
        Users should be able to choose how much questions are given to them
        
        reward system is based on if they got more then 70%
        mastery level should also be in the catagories
        
    -->
</section>