<header id="headerTop">
    <button id="backButton">Exit This Practice</button>
    <p id="headerName">Solving Linear Equations by Substitution</p>
    <div id="level">
        <div class="mastery5"></div>
        <div class="mastery4"></div>
        <div class="mastery3"></div>
        <div class="mastery2"></div>
        <div class="mastery1"></div>
    </div>
</header>
<section class="questions">
    <div id="question1" class="visible wholeQuestion">
        <div id="q1question" class="question">
            <p class="equation">7x + 8 + 5j = a</p>
            <p class="subQuestion">Find a when x = 6 and j = 10</p>
        </div>
        <div id="q1choices" class="choices">
            <button id="q1choice1">100</button>
            <button id="q1choice2">80</button>
            <button id="q1choice3">25</button>
            <button id="q1choice4">50</button>
        </div>
    </div>
    <div id="question2" class="hide wholeQuestion">
        <button id="q2choice1"></button>
        <button id="q2choice2"></button>
        <button id="q2choice3"></button>
        <button id="q2choice4"></button>
    </div>
    <div id="question3" class="hide wholeQuestion">
        <button id="q3choice1"></button>
        <button id="q3choice2"></button>
        <button id="q3choice3"></button>
        <button id="q3choice4"></button>
    </div>
    <div id="question4" class="hide wholeQuestion">
        <button id="q4choice1"></button>
        <button id="q4choice2"></button>
        <button id="q4choice3"></button>
        <button id="q4choice4"></button>
    </div>
</section>
<header id="headerBottom">
    <div id="questionCheck">
        <p id="questionNumber">5 questions</p>
        <div id="correctCheck">
            <div class="correctCheckMarks">
                <p>✓</p>
            </div>
            <div class="correctCheckMarks">
                <p>❌</p>
            </div>
            <div class="correctCheckMarks">
                <p>✓</p>
            </div>
            <div class="correctCheckMarks">
                <p>❌</p>
            </div>
            <div class="correctCheckMarks">
                <p>✓</p>
            </div>
        </div>
    </div>
    <div></div>
    <button id="checkAnswerButton">Submit</button>

</header>