<header id="headerTop">
    <button id="backButton">Exit This Practice</button>
    <p id="headerName">Laws of Exponents</p>
    <div id="level">
        <div class="mastery5"></div>
        <div class="mastery4"></div>
        <div class="mastery3"></div>
        <div class="mastery2"></div>
        <div class="mastery1"></div>
    </div>
</header>
<section class="questions">
    
</section>
<header id="headerBottom">
    <div id="questionCheck">
        <p id="questionNumber">5 questions</p>
        <div id="correctCheck">
            <p>✓</p>
            <p>x</p>
            <p>✓</p>
            <p>✓</p>
            <p>x</p>
        </div>
    </div>
</header>