<header id="headerTop">
    <button id="backButton">Exit This Practice</button>
    <p id="headerName">Laws of Exponents</p>
    <div id="level">
        <div class="mastery5"></div>
        <div class="mastery4"></div>
        <div class="mastery3"></div>
        <div class="mastery2"></div>
        <div class="mastery1"></div>
    </div>
</header>
<section id="questions">
    <div id="question1">
        <p><span>3</span><sup>1</sup> = x</p>
    </div>
    <div id="question2">

    </div>
</section>
<header id="headerBottom">
    <div id="questionCheck">
        <p id="questionNumber">5 questions</p>
        <div id="correctCheck">
            <div class="correctCheckMarks">
                <p>✓</p>
            </div>
            <div class="correctCheckMarks">
                <p>❌</p>
            </div>
            <div class="correctCheckMarks">
                <p>✓</p>
            </div>
            <div class="correctCheckMarks">
                <p>❌</p>
            </div>
            <div class="correctCheckMarks">
                <p>✓</p>
            </div>
        </div>
    </div>
    <div></div>
    <button id="checkAnswerButton">Submit</button>

</header>