<section class="questions">
    <div id="question1" class="visible">
        <p>7x + 8 + 5j = a, Find a when x = 6 and j = 10</p>
        <button id="q1choice1">100</button>
        <button id="q1choice2">80</button>
        <button id="q1choice3">25</button>
        <button id="q1choice4">50</button>
    </div>
    <div id="question2" class="hide">
        <button id="q2choice1"></button>
        <button id="q2choice2"></button>
        <button id="q2choice3"></button>
        <button id="q2choice4"></button>
    </div>
    <div id="question3" class="hide">
        <button id="q3choice1"></button>
        <button id="q3choice2"></button>
        <button id="q3choice3"></button>
        <button id="q3choice4"></button>
    </div>
    <div id="question4" class="hide">
        <button id="q4choice1"></button>
        <button id="q4choice2"></button>
        <button id="q4choice3"></button>
        <button id="q4choice4"></button>
    </div>
</section>