<div id="sideButtons">
    <form action="/logout" method="POST">
        <button id="logoutButton">Logout</button>
    </form>
</div>
<section class="Levels">
    <div id="level">
        <a href="/Integrated1">Math</a>
    </div>
</section>
<img id="mathPicture" src="/loveMathALOT.png" alt="Image failed to load :(">