<section class="Levels">
    <div>
        <div id="intro">Math</div>
    </div>
    <div id="sign">
     <a id="loginButton" href="/login">Login</a>
     <span id="signSlash">/</span>
     <a id="signUpButton" href="/signUp">Sign Up!</a>
    </div>
</section>