<section class="Levels">
    <div>
        <a href="/Integrated1">Math</a>
    </div>
    <div id="sign">
     <a id="loginButton" href="/login">Login</a>
     <span id="signSlash">/</span>
     <a id="signUpButton" href="/signUp">Sign Up!</a>
    </div>
</section>