<section class="signUp">
  <form action="/signUp" method="POST">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="username" required>
      
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <label for="password">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>
      <p id="#errorText"></p>
    <button id="submitButton" type="submit">Sign Up!</button>
  </form>

</section>