<section id="startPage">
    <div id="sign">
        <a id="loginButton" href="/login">Login</a>
        <a id="signUpButton" href="/signUp">Sign Up!</a> 
    </div>
    <div id="centerImg">
        <img src="/letsDoMath.png" alt="Image failed to load :(">
    </div>
</section>